body
{
    color: black;
    text-align: center;
    font-family: Helvetica,sans-serif;
}
hr
{
    width: 200px;
}

table
{
    border-collapse: separate;
    border-radius: 5px;
    box-shadow: inset 0 1px 0 White;
    font-size: 14px;
    line-height: 24px;
    margin: 30px auto;
    text-align: left;
    width: auto;
    overflow: scroll;
}

td a
{
    font-size: 16px;
    color: black;
    text-decoration: none;
}
th a
{
    font-size: 16px;
    color: black;
    text-decoration: none;
}
th
{
    /*background: linear-gradient(black, White);*/
    background:Black;
    border-left: 1px solid #555;
    border-right: 1px solid #777;
    border-top: 1px solid #555;
    border-bottom: 1px solid #333;
    box-shadow: inset 0 1px 0 #999;
    color: White;
    font-weight: bold;
    padding: 4px 8px;
    position: relative;
    text-shadow: 0 1px 0 #000;
}
td
{
    text-align: center;
    border: solid 0.5px Black;
    width: auto;
}

.Red 
{
    color:red;

}
.Error
{
    color:red;

}

.BiggerBAder
{
    text-decoration:none;
    font-size:14px;
    color:Black;
}
h1
{
    color:red;
}
    /*th:first-child
    {
        border-left: 1px solid #777;
        box-shadow: inset 1px 1px 0 #999;
    }
    th:last-child
    {
        box-shadow: inset -1px 1px 0 #999;
    }*/